{
	"name": "sink-gcs-express",
	"config": {
		"connector.class": "io.aiven.kafka.connect.gcs.GcsSinkConnector",
		"tasks.max": "1",
		"topics": "express_sensor",
		"gcs.bucket.name": "express_way_de-zoomcamp-376514",
		"gcs.credentials.path": "/opt/confluent/secrets/google_credentials.json",
		"format.output.type": "jsonl",
		"format.output.envelope": false,
		"format.output.fields": "value",
		"file.compression.type": "gzip",
		"file.name.prefix": "raw_express_sensor/",
		"file.name.template": "{{topic}}-{{partition:padding=true}}-{{start_offset:padding=true}}.gz",
		"key.converter": "org.apache.kafka.connect.storage.StringConverter",
		"key.converter.schemas.enable": false,
		"value.converter": "io.confluent.connect.json.JsonSchemaConverter",
		"value.converter.schema.registry.url": "http://schema-registry:8081",
		"value.converter.schemas.enable": false,
		"errors.tolerance": "all",
		"errors.deadletterqueue.topic.name": "connect.sink.dlt.gcs.express_sensor",
		"errors.log.include.messages": true,
		"errors.deadletterqueue.context.headers.enable": true,
		"errors.deadletterqueue.topic.replication.factor": 1
	}
}